
:root {
    --gray-background-color: rgb(55, 56, 66);
    --light-blue-text-color: rgb(153, 225, 225);
    --dark-blue-text-color:  rgb(43, 54, 138);
    --light-gray-text-color: gray; 
}


* {
    font-family: sans-serif;
    box-sizing: border-box; /* This is supposed to let the border determinging */
    /* Recommends maybe starting. Make CSS based on the wireframe */
}

header {
    /* Layout */
    display: flex;
    align-items: baseline; /* Baseline aligns text height of child elements; previously used center instead */
    justify-content: space-between; /* This puts the header elements on opposite sides. In this case, h1 and nav */
    padding: 1%;
    width: 100%;

    /* Styling */
    background-color: var(--gray-background-color);

}

h1 {
    /* Layout */
    display: flex;
    padding: 1px; /* Provides a bit of cushion along the side so name cut off isn't as sharp*/

    /* Styling */
    color: var(--gray-background-color);
    background-color: var(--light-blue-text-color);

}

nav {
    display: flex;
}


nav li {
    display: inline;
    font-size: 20px;
    padding: 1px;
}

nav li a {
    color: var(--light-blue-text-color);
    font-size: larger;
    text-decoration: underline;
    text-decoration-thickness: 6px;
}

/* Referenced the hero */
.banner {
    height: 150px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url(https://static.vecteezy.com/system/resources/previews/000/694/606/original/abstract-colorful-geometric-banner-template-background-vector.jpg);
    background-size: cover;
    background-position: center;
}

/* O
.banner-text{
    height: 100px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url(https://static.vecteezy.com/system/resources/previews/000/694/606/original/abstract-colorful-geometric-banner-template-background-vector.jpg);
    background-size: cover;
    background-position: center;
} */

.headshot { 
    display: flex;
    justify-content: center;
    padding: 1%;
    margin: 0;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    height: fit-content;
    padding: 5%; /* Added padding to c */
}

.row {
    display: flex;
    /* align-items: center; Removed because it limited the border height */
    width: 100%;
    margin-left: -1.5rem;
    margin-right: -1.5rem;
}

.row h2 {
    color: var(--dark-blue-text-color);
    border-right-color: var(--dark-blue-text-color);
    border-right: 2px solid;
    padding: 2%;
    font-size: 35px;
    align-items: last baseline;
}

/* Added to push the about-me heading to the right so they are inlined*/
.about-me  h2 {
    padding-left: 10%;

}

.about-me p {
    display: flex;
    flex-wrap: wrap; /* Allows the pargraph text of about me to wrap as dimensions change*/
    color: var(--light-gray-text-color);
    text-wrap: wrap;

    padding: 10px;
}

.work {
    display: flex;
    flex-wrap: wrap; /* These two lines allow the heading and content to shift as viewport width changes */
    padding-left: 8.25%;
}

/* I added this to push the work container to the left. 1.5% was through testing. A learning assistant suggested padding-right but this didn't really function on my end */ 
.work-heading {
    margin-left: 1.5%; 
}


.projects-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1%;
    padding: 2%;
    margin-left: 20%; /* At full scale, this shifts the project container that holds the main project and grid together */
}

.main-project{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 300px;
    height: 300px;
    padding: 2%;

}

.main-project-image {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    position: relative;
}

.main-project-image-text {
      /* Layout */
      padding: 0px;   
      margin: 0%;
      position: absolute; 
  
      /* Styling */
      background-color: var(--light-blue-text-color);
      color: var(--gray-background-color);
}

.project-sections {
    display:grid;
    grid-template-columns: 200px 200px;
    grid-row: auto auto;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    position: center;
    flex-wrap: wrap;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    gap: 0px;
}


/* The rationale here is to turn the image itself into a container and then we can place the card-title and card-subtext on top of it*/
/* Maybe I need to the placeholder image as a background image for the container */
.card-image {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    gap: 0px;
    width: fit-content;
    height: fit-content;

    flex-grow: 1; /* These lines of code were shared by the Xpert Learning Assistant when I aksed how to maximize the size of an image within a container using CSS flexbox */
    max-width: 100%;
    max-height: 100%;
    position: relative; 

}

/* Adds a background color and font-color. Also intends to piece the title and subtext together  */
/* An option to adjust this may be to change title and subtext to one <p> with a line break */
.card-text {
    /* Layout */
    padding: 0px;   
    margin: 0%;
    position: absolute; 

    /* Styling */
    background-color: var(--light-blue-text-color);
    color: var(--gray-background-color);
}


.contact-me {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: var(--dark-blue-text-color);
    flex-wrap: wrap;
    
}
/* While this does give the border the impression of lining up, 
the heading element takes up so much space all other elements, the links, 
are pushed below onto another line. As such, this is not ideal

.contact-me-heading {
    margin-right: 87%;  This pushed Contact Me header in approximate alignment but moved everything else into the line below 
} */


.row img {
    border: 4px solid var(--light-blue-text-color);
    filter: grayscale(50%);
}

.row img:hover,
.project-sections img:hover {
    filter: saturate(100%);
}

/* Media Query for devices wider than a phone but up to a small tablet*/ 
@media screen and (min-width: 431px) and (max-width: 768px) { /* This size was chosen as it is the width of a smaller tablet (iPad Mini)*/

    /* Place headers elements as block/stack */

    header {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center; /* This moves the contents of the header to the center when the screen decreases */
    }

    nav ul {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .about-me { /*  */
        display: flex;
        align-items: center;
    }

  /* I added this to push the work container to the left. 1.5% was through testing. A learning assistant suggested padding-right but this didn't really function on my end */ 
    .work-heading {
        display: flex;
        justify-content: center;
    }

    .projects-container {
        /* Based on the DevTools, it looks like we do not need to restate properties we want to keep the same. Removed display, flex-direction, etc.*/
        margin-left: 8%; 
    }


    .main-project-image{
        margin-left: 8%; /* This helped align the main project image so it was in between the grid*/
    }


    /* Change to a vertical stack of the containers and their children elements */
    .row {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
    
    /* Removes the border on the right of the h2 container and places one on the bottom */
    .row h2 {
    border-right: 0cap;
    border-bottom-color: var(--dark-blue-text-color);
    border-bottom: 2px solid;
    }

    .contact-me p,
    .contact-me a {
        display: flex;
        flex-direction:column;
        flex-wrap: wrap;
    }
}


/* Media query for a portrait orientation smart phone */
@media screen and (max-width: 430px) { /* This size was chosen as it is the width of an iPhone 14 Pro Max)*/
   /* Place headers elements as block/stack */

   header {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center; /* This moves the contents of the header to the center when teh screen decreases*/
    }


    nav ul {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .about-me { /*  */
        display: flex;
        align-items: center;
    }

    .about-me p {
        align-items: center;
        padding-left: 20%; /* Shifts the paragraph to the right so it is approximately center */
    }

    .work {
        padding-right: 15%;
    }

    /* I added this to push the work container to the left. 1.5% was through testing. A learning assistant suggested padding-right but this didn't really function on my end */ 
    .work-heading {
    display: flex;
    justify-content: center;
    }


    .projects-container {
    border: 1%;
    padding-right: 2%;
    margin-left: 8%;
    }


    .main-project{
    display: flex;
    justify-content: center;
    }
    

    .main-project-image{
    margin-left: 8%; /* This helped align the main project image so it was in between the grid*/
    }
/*
    .project-sections {
        padding-right: 8%;

    }
*/
    /* Change to a vertical stack of the containers and their children elements */
    .row {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    /* Removes the border on the right of the h2 container and places one on the bottom */
    .row h2 {
    border-right: 0cap;
    border-bottom-color: var(--dark-blue-text-color);
    border-bottom: 2px solid;
    
    }
}